<!--Pagina di log-in-->


<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div >
    <p class="error col-12 col-12-narrower  ">
      <%=flash[:alert] %>
    </p>
    <p class="col-12 col-12-narrower">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </p>

    <p class="col-12 col-12-narrower">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
    </p>
    <p class="col-12 col-12-narrower">
    <% if devise_mapping.rememberable? %>

        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>

    <% end %>

      <%= f.submit "Log in" %>
    </p>
    <%#= render "users/shared/links" %>
  </div>
<% end %>


