
<%if @operas.empty? %>
  <div id="banner">
    <h2>Al momento non hai nessuna opera inserita!</h2>
    <div><%=link_to 'aggiungi nuova opera', new_opera_path%></div>
  </div>
<%else %>
  <div id="main">
    <%@operas.each do |opera| %>
      <article class="thumb">
        <%=link_to image_tag(asset_path @opera.url), (asset_path @opera.url),class: 'image' %>
        <h2><%= opera.titolo %>></h2>
        <p> <%= opera.tecnica %>,<%= opera.anno %></p>
      </article>
    <%end %>
    <div><%=link_to 'aggiungi nuova opera', new_opera_path%></div>
  </div>
<%end %>
