<div id="main">
  <article class="thumb">
    <%=link_to image_tag(asset_path 'thumbs/01.jpg'), (asset_path 'fulls/01.jpg'),class: 'image' %>
    <h2>Magna feugiat lorem</h2>
    <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
  </article>
  <article class="thumb">
    <%=link_to  image_tag(asset_path 'thumbs/02.jpg'), (asset_path 'fulls/02.jpg'),class: 'image' %>
    <h2>Nisl adipiscing</h2>
    <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
  </article>
  <article class="thumb">
    <%=link_to  image_tag(asset_path 'thumbs/03.jpg'), (asset_path 'fulls/03.jpg'),class: 'image' %>
    <h2>Tempus aliquam veroeros</h2>
    <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
  </article>
  <article class="thumb">
    <%=link_to  image_tag(asset_path 'thumbs/04.jpg'), (asset_path 'fulls/04.jpg'),class: 'image' %>
    <h2>Aliquam ipsum sed dolore</h2>
    <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
  </article>
</div>


<%= link_to 'Edit', edit_artistum_path(@artistum) %> |
<%= link_to 'Back', artista_path %> |
<%= link_to 'Home', root_path %>
</div>