<h2>le mie offerte</h2>
<table>
  <tr>
    <th colspan="1"></th>
    <th>Titolo Opera</th>
    <th>Tecnica</th>
    <th>Importo offerta</th>
    <th>Miglio Offerta</th>
    <th>Fine asta</th>
    <th colspan="1"></th>
  </tr>
  <%@offerte.each do |asta|%>
    <tr>
      <td> <%=image_tag(asta.opera.url.url, height: 50 )%></td>
      <td> <%= asta.opera.titolo%></td>
      <td> <%= asta.opera.tecnica %>,<%= asta.opera.anno %></td>
      <td> <%= asta.importo %> €</td>
      <td> <%= Asta.miglior_offerta(asta.asta_id).importo  %></td>
      <td> <%= asta.fine.strftime("%d/%m/%y at %k:%M")  %></td>
      <%if asta.fine < Time.now %>
        <%if Asta.miglior_offerta(asta.asta_id).vincitore == current_user.id %>
          <td><%link_to "Hai vinto!", win_astas_path(asta.id) %></td>
        <%else %>
        <%end %>
      <%else %>
        <td><%= link_to '', edit_offertas_path(id: asta.id), class: "fa fa-edit" %></td>
      <%end %>
    </tr>
  <% end %>
</table>