<p id="notice"><%= notice %></p>
<%if current_user != nil && current_user.id == @user.id%>
  <h2>Il Tuo Profilo!</h2>
<%else if @user.artista_id != nil %>
    <h2>Profilo Artista!</h2>
  <%else%>
    <h2>Profilo Utente!</h2>
  <%end%>
<%end%>

<div >
  <div class="col-12 col-12-narrower">
    <%= @user.nome%>
  </div>
  <div class="col-12 col-12-narrower">
    <%= @user.cognome%>
  </div>
  <div class="col-12 col-12-narrower">
    <%= @user.email%>
  </div>
  <% if current_user != nil && current_user.id == @user.id %>
    <div>
      <%= link_to "i miei acquisti", acquistos_path%>
    </div>
    <%if @user.artista_id != nil %>
      <div>
        <%= link_to "Le mie Aste!", artistum_aste_path(@user.artista_id)%>
      </div>
    <%end %>
    <div>
      <%= link_to "Le mie Offerte!", user_offerte_path%>
    </div>
    <div>
      <%= link_to "metodi di pagamento", pagamentos_path%>
    </div>
  <%end %>
</div>

|
<%if @user.artista_id != nil %>
  <%= link_to 'Portfolio', artistum_path(@user.artista_id) %> |
<%end %>
<% if current_user != nil %>
  <% if current_user.id == @user.id %>
    <%= link_to 'Edit', edit_user_registration_path(@user) %> |
    <%= link_to 'Esci', user_sign_out_path %>
  <%end %>
<%end %>
|

