<div id="main">
  <%@aste.each do |asta| %>
    <article class="thumb">
      <%=link_to image_tag(asta.opera.url.url), (asta.opera.url.url),class: 'image' %>
      <h2><%= asta.opera.titolo %></h2>
      <div> <%= asta.opera.tecnica %>,<%= asta.opera.anno %></div>
      <div><%= asta.inizio.strftime("Inizio: %d/%m/%y at %k:%M") %>, <%= asta.fine.strftime("Fine: %d/%m/%y at %k:%M")  %></div>
      <%offerta = Asta.miglior_offerta(asta.id)%>
      <div>Importo miglior offerta: <%= offerta.importo %> € di <%=link_to offerta.user.cognome, users_path(id: offerta.user_id)%></div>
      <%= link_to '', new_offertas_path(asta_id: asta.id), class: "fa fa-plus" %>
    </article>
  <%end %>
</div>