<%if @aste.empty? %>
  <h1 class="titolo">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    ci spiace ma al momento non ci sono Aste Attive!
  </h1>
<%else %>
  <div id="main">

    <%@aste.each do |asta| %>
      <article class="thumb">
        <%=link_to image_tag(asta.opera.url.url), (asta.opera.url.url),class: 'image' %>
        <h2><%= link_to asta.opera.titolo, astas_path(id: asta.id) %></h2>
        <div> <%= asta.opera.tecnica %>,<%= asta.opera.anno %></div>
        <div><%= asta.inizio.strftime("Inizio: %d/%m/%y at %k:%M") %>, <%= asta.fine.strftime("Fine: %d/%m/%y at %k:%M")  %></div>
        <%offerta = Asta.miglior_offerta(asta.id)%>
        <div>Importo miglior offerta: <%= offerta.importo %> € di <%=link_to offerta.user.cognome, users_path(id: offerta.user_id)%></div>
      </article>
    <%end %>
  </div>
<%end %>
