<% if @asta.nil? %>
  <h2>Ooops qualcosa è andato storto!</h2>
<% else  %>
  <div>
    <%=image_tag(@asta.opera.url.url, height: 250) %>
  </div>
  <h3>
    <%=@asta.opera.titolo %>
  </h3>
  <table class="col-12 col-12-narrower">
    <tr>
      <th>Utente</th>
      <th>Importo</th>
    </tr>
    <%@offerte.each do |offerta|
      user = User.find(offerta.user_id)%>
      <tr>
        <td> <%=link_to user.nome + " " + user.cognome, users_path(user.id) %></td>
        <td> <%=offerta.importo %></td>
      </tr>
    <%end %>
  </table>
  <%if @user.id == current_user.id %>
    <%if @asta.fine > Time.now %>
      <div><%=link_to "Modifica", edit_astas_path(id: @asta.id) %></div>
    <%else %>
      <div><%=link_to "Proclama vincitore!", win_astas_path(id: @asta.id) %></div>
    <%end %>
  <%else %>
    <div><%=link_to "Fai offerta", new_offertas_path(asta_id: @asta.id) %></div>
  <%end %>
<% end %>