<%= form_with(model: opera, local: true) do |form| %>
  <% if opera.errors.any? %>
    <div id="error_explanation" >
        <% opera.errors.full_messages.each do |message| %>
          <div class="col-12 col-12-mobilep "><%= message %></div>
        <% end %>
    </div>
  <% end %>

  <div class="col-12 col-12-mobilep ">
    <%= form.label "Titolo Opera" %>
    <%= form.text_field :titolo, :required => true %>
  </div>

  <div class="col-12 col-12-mobilep">
    <%= form.label "Tecnica" %>
    <%= form.collection_select :tecnica, Opera::TECNICHE, :to_s, :to_s %>
  </div>

  <div class="col-12 col-12-mobilep">
    <%= form.label "Anno" %>
    <%= form.number_field :anno, :required => true %>
  </div>
  <div class="col-12 col-12-mobilep">
    <%= form.label "Prezzo" %>
    <%= form.number_field :prezzo, :required => true %>
  </div>
  <div class="col-12 col-12-narrower">
    <%= form.file_field :url %>
  </div>

  <div class="col-12 col-12-narrower">
    <%= form.check_box :merchandising, checked_value: 1, unchecked_value: 0 %>
    <%= form.label :merchandising, "Merchandising" %>
    <p title="Vendita di prodotti quali: stampe su magliette, tazzine, formati differenti e molto altro!
     Abilitalo e il compratore potrà contattarti per scegliere il formato più bello!" class="fa fa-info-circle" target="_blank"></p>
  </div>


  <div class="col-12 col-12-narrower">
    <%= form.submit %>
    <%unless @opera.id.nil? %>
      <%= link_to 'Elimina', opera_path(id: @opera.id), :method => :delete, class: "button"%>
    <%end %>
  </div>

<% end %>
