<%= form_with(model: opera, local: true) do |form| %>
  <% if opera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opera.errors.count, "error") %> prohibited this opera from being saved:</h2>

      <ul>
        <% opera.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-12 col-12-mobilep ">
    <%= form.label "Titolo Opera" %>
    <%= form.text_field :titolo, :required => true %>
  </div>

  <div class="col-12 col-12-mobilep">
    <%= form.label "Tecnica" %>
    <%= form.collection_select :tecnica, Opera::TECNICHE, :to_s, :to_s %>
  </div>

  <div class="col-12 col-12-mobilep">
    <%= form.label "Anno" %>
    <%= form.number_field :anno, :required => true %>
  </div>
  <div class="col-12 col-12-narrower">
    <%= form.label :"Carica una foto" %>
    <%= form.file_field :url %>
  </div>

  <div class="col-12 col-12-narrower">
    <%= form.submit %>
    <%unless @opera.id.nil? %>
      <%= link_to 'Elimina', opera_path(id: @opera.id), :method => :delete, class: "button"%>
    <%end %>
  </div>

<% end %>
