<%shuffle_opere = opere.shuffle%>
<%shuffle_opere.each do |opera| %>
  <article class="thumb">
    <%=link_to image_tag(opera.url.url), (opera.url.url),class: 'image' %>
    <h2><%= opera.titolo %></h2>
    <p> <%= opera.tecnica %>,<%= opera.anno %></p>
    <%if current_user != nil%>
      <%if current_user.artista_id == opera.artista_id %>
        <%= link_to 'Modifica', edit_opera_path(opera.id), class: "button"%>
      <% else %>
        <div>
          <%= link_to 'Acquista', new_acquistos_path(opera_id: opera.id), class: "button"%>
          <%unless favorites.empty? %>
          <span class="button">
            <% if favorites.include?(opera)%>
                <%= link_to ' ', del_favorites_path(opera_id: opera.id), class: "fas fa-heart"%>
            <%else %>
              <%= link_to ' ', new_favorites_path(opera_id: opera.id), class: "far fa-heart"%>
            <%end %>
          </span>

          <%end %>
        </div>


      <% end %>

    <%else %>
      <%= link_to 'Show', opera_path(opera.id), class: "button"%>
    <%end %>
  </article>

<%end %>
