<div class="col-12 col-12-narrower">
  <h2>
    <strong>I tuoi metodi di pagamento!</strong>
  </h2>
</div>

<table>
  <thead>
  <tr>
    <th>Numero Carta</th>
    <th>Intestatario</th>
    <th>scadenza</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <%i=0 %>
  <% @pay_methods.each do |pay_method| %>
    <tr>
      <td><%= link_to pay_method.numero, pagamento_path(pay_method.id) %></td>
      <td><%= pay_method.intestatario %></td>
      <td><%= pay_method.mese%> / <%= pay_method.anno%></td>
      <%if @scaduti[i] %>
        <td class="error">Metodo di pagamento scaduto</td>
      <%else%>
        <td colspan="1"></td>
      <% end %>
      <% i+=1 %>
      <td><%= link_to ' ', edit_pagamento_path(pay_method.id), class: "far fa-edit"%></td>
      <td><%= link_to ' ', pagamento_path(pay_method.id), method: :delete, data: { confirm: 'Sciruo di voler eliminare questo metodo di pagamento?' }, class: "far fa-trash-alt"  %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="5"></td>
    <td>
      <%= link_to '', new_pagamento_path, class: "fas fa-plus" %>
      <%= link_to "", users_path(id: current_user.id), class:"fas fa-reply" %>
    </td>
  </tr>
  </tbody>
</table>