<p id="notice"><%= notice %></p>

<h1>Compratores</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compratores.each do |compratore| %>
      <tr>
        <td><%= link_to 'Show', compratore %></td>
        <td><%= link_to 'Edit', edit_compratore_path(compratore) %></td>
        <td><%= link_to 'Destroy', compratore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compratore', new_compratore_path %>
