<!DOCTYPE html>
<html>
<head>
  <title>ArtOnRails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8" />
  <meta name="turbolinks-visit-control" content="reload">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <%= stylesheet_link_tag 'gallery/main'%>

</head>
<body class="is-preload">
<%= javascript_include_tag 'jquery.min.js' %>
<!-- Header -->
<header id="header">
  <h1><%= link_to 'ArtOnRails', root_path %></h1>
  <nav>
    <ul>
      <li><%= link_to "Cerca", new_searches_path %></li>
      <% if current_user == nil %>
        <li><%= link_to "Registrati", new_user_registration_path %></li>
      <% elsif current_user.artista_id == nil %>
        <li><%= link_to "Esponi", new_artistum_path %></li>
      <%else %>
        <li><%= link_to "Opere", artistum_path(current_user.artista_id) %></li>
      <%end %>
      <%if user_signed_in? %>
        <li><%= link_to "Aste", astas_index_path %></li>
        <li><%= link_to "Profilo", users_path(id: current_user.id) %></li>
      <%else  %>
        <li><%= link_to "Log in", new_user_session_path %></li>
      <%end %>
    </ul>
  </nav>
</header>
<!-- Wrapper -->
<div id="wrapper">

  <%= yield %>


</div>

<!-- Scripts -->
<%= javascript_include_tag 'browser.min.js' %>
<%= javascript_include_tag 'jquery.poptrox.min' %>
<%= javascript_include_tag 'breakpoints.min.js' %>
<%= javascript_include_tag 'gallery/util.js' %>
<%= javascript_include_tag 'gallery/main.js' %>



</body>

</html>